/*
  MAIN
  ============
  ============ */

@media screen and (min-width: 320px) {
  .technology,
  .releases,
  .developers {
    margin-top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .technology,
  .releases,
  .developers {
    margin-top: 92px;
  }
}

.technology.body__transparent,
.releases.body__transparent,
.developers.body__transparent {
  background-color: transparent;
}

.technology .page_wrap,
.releases .page_wrap,
.developers .page_wrap,
.technology .page_wrap .header_inner,
.releases .page_wrap .header_inner,
.developers .page_wrap .header_inner
{
  max-width: 100%;
}

.technology footer .container-fluid,
.releases footer .container-fluid,
.developers footer .container-fluid
{
  max-width: 1360px;
}

.c-grid {
  width: 100%;
  max-width: 1366px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: "proxima_novaextrabold", Arial, sans-serif;
}

@media screen and (min-width: 320px) {
  .title {
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

.form__field {
  position: relative;
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) {
  .form__field {
    flex-direction: column;
  }
}
@media screen and (min-width: 576px) {
  .form__field {
    align-items: center;
    flex-direction: row;
  }
}
.form__field-group--p {
  margin-bottom: 30px;
}
.form__field-group .form__field {
  margin-bottom: 0;
}
.form__field.form__field--c {
  align-items: flex-start;
  flex-direction: column;
}
.form__label {
  font-family: "proxima_novabold", Arial, sans-serif;
}
@media screen and (min-width: 576px) {
  .form__label {
    width: calc(105px + 61px);
  }
}
@media screen and (min-width: 992px) {
  .form__label {
    width: calc(105px + 51px);
    padding-left: 10px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .form__label {
    width: calc(105px + 61px);
    padding-left: 0;
    font-size: 16px;
  }
}
.form__field-group .form__label {
  width: auto;
  color: #828282;
  text-align: left;
  font-size: 11px;
  font-family: Tahoma, Arial, sans-serif;
  font-weight: 100;
}
.form__field--c .form__label {
  padding-bottom: 25px;
  margin-bottom: 0;
}
.form__field.form__field-phone .form__input-wrap {
  display: flex;
}
.form__field-phone .form__input-wrap .form__input:nth-child(1) {
  width: 61px;
  padding-right: 5px;
}
.form__field-phone .form__input-wrap .form__input:nth-child(2) {
  width: calc(291px - 61px);
  border-left: none;
}
.form__field-group {
  display: flex;
}
@media screen and (min-width: 576px) {
  .form__field-group {
    margin-left: calc(105px + 61px);
  }
}
@media screen and (min-width: 992px) {
  .form__field-group {
    margin-left: calc(105px + 51px);
  }
}
@media screen and (min-width: 1200px) {
  .form__field-group {
    margin-left: calc(105px + 61px);
  }
}
.form__field-group .form__field {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form__label span {
  color: #e71111;
  font-size: 18px;
}
.form__input {
  outline: none;
  height: 47px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 2px;
  border: 1px solid rgb(217, 214, 214);
  background-color: transparent;
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .form__input {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .form__input {
    width: 291px;
  }
}
.form__input.form__input--bg {
  background-color: #f7f7f7;
}
.form__field--house .form__input,
.form__field--zip .form__input
{
  width: 61px;
  margin-right: 13px;
}
.form__field--street .form__input,
.form__field--country .form__input {
  margin-right: 13px;
}
@media screen and (min-width: 320px) {
  .form__field--street .form__input,
  .form__field--country .form__input {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .form__field--street .form__input,
  .form__field--country .form__input {
    width: calc(291px - (61px + 13px));
  }
}
@media screen and (max-width: 575px) {
  .form__field-group .form__field--city,
  .form__field-group .form__field--street,
  .form__field-group .form__field--country,
  .form__field-group .form__field--state,
  .form__field-group .form__field--city,
  .form__field-group .form__field--state {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .form__field--city .form__input,
  .form__field--state .form__input {
    width: 291px;
  }
}
.form__input:focus {
  border: 1px solid rgb(217, 214, 214);
  box-shadow: 0 0 10px 3px rgba(217, 214, 214, 0.15);
}
.form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #9197a8;
}
.form__input::-moz-placeholder {
  font-size: 16px;
  color: #9197a8;
}
.form__input:-ms-input-placeholder {
  font-size: 16px;
  color: #9197a8;
}
.form__input:-moz-placeholder {
  font-size: 16px;
  color: #9197a8;
}
.form__error {
  display: none;
  position: absolute;
  left: 0;
  bottom: -20px;
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.form__btn {
  width: 167px;
  height: 45px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  border-color: #0155bb;
  background-color: #0155bb;
  color: #ffffff;
  font-size: 16px;
  font-family: "proxima_novabold", Arial, sans-serif;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (min-width: 320px) {
  .form__btn.form__btn--p {
    margin-left: 0;
  }
}
@media screen and (min-width: 576px) {
  .form__btn.form__btn--p {
    margin-left: calc(105px + 61px);
  }
}
.form__btn:hover {
  background-color: #000;
  transition: background-color 0.3s ease-in-out;
}
.form__info {
  padding-top: 25px;
  color: #9197a8;
}
.form__link {
  color: #0155bb;
  text-decoration: underline;
}
/*
  end MAIN
  ============ */