/*
  RELEASES
  ============
  ============ */


/* main */
.releases .main {
  padding-bottom: 95px;
}
.releases .main__title {
  padding-top: 112px;
  padding-bottom: 81px;
  text-align: left;
  font-size: 60px;
}
.releases .main__banner {
  position: relative;
  height: 316px;
  margin-bottom: 60px;
  padding-right: 540px;
  padding-top: 64px;
  padding-left: calc(50px + 76px);
  background-color: #000000;
  background-image: url("../images/img-banner__releases.png");
  background-position: top right;
  background-repeat: no-repeat;
  color: #ffffff;
}
.releases .main__banner-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 64px;
  left: 0;
  width: 76px;
  height: 56px;
  background-color: #f0cc02;
  font-size: 18px;
  font-family: "proxima_novabold", Arial, sans-serif;
}
.releases .main__banner-title {
  margin-bottom: 0;
  padding-bottom: 15px;
  font-size: 24px;
  font-family: "proxima_novabold", Arial, sans-serif;
}
.releases .main__banner-subtitle {
  margin-bottom: 0;
  padding-bottom: 80px;
  font-size: 18px;
}
.releases .main__banner-date {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "proxima_novabold", Arial, sans-serif;
}
.releases .main__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.releases .main__block {
  width: 306px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.12);
}
.releases .main__block-wrapper {
  overflow: hidden;
  height: 163px;
  margin-bottom: 30px;
}
.releases .main__block-0 .main__block-wrapper {
  background-image: url("../images/img-banner-0__releases.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.releases .main__block-1 .main__block-wrapper {
  background-image: url("../images/img-banner-1__releases.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.releases .main__block-2 .main__block-wrapper {
  background-image: url("../images/img-banner-2__releases.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.releases .main__block-3 .main__block-wrapper {
  background-image: url("../images/img-banner-3__releases.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.releases .main__block-title,
.releases .main__block-date {
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "proxima_novabold", Arial, sans-serif;
}
.releases .main__block-title {
  padding-bottom: 45px;
  font-size: 18px;
}
.releases .main__block-date {
  padding-bottom: 10px;
  color: #9b8f8f;
}
/* end main */



/* archive */
.archive {
  padding-bottom: 38px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 320px) {
  .archive {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .archive {
    padding-top: 80px;
  }
}

.archive__title {
  text-align: left;
}
@media screen and (min-width: 320px) {
  .archive__title {
    padding-bottom: 30px;
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) {
  .archive__title {
    padding-bottom: 43px;
    font-size: 36px;
  }
}

.archive__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 27px;
  margin-bottom: 34px;
  background-color: #0155bb;
  color: #fff;
  font-size: 14px;
  font-family: "proxima_novaextrabold", Arial, sans-serif;
}
.archive__box {
  cursor: pointer;
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #000;
}
.archive__box--wb {
  border-bottom: none;
}
.archive__box-title {
  line-height: 1;
  font-size: 18px;
  font-family: "proxima_novasemibold", Arial, sans-serif;
}
.archive__box-date {
  line-height: 1;
  font-size: 14px;
}
/* end archive */

/*
  end RELEASES
  ============ */