/*
  TECHNOLOGY
  ============
*/

/* main */
.technology {
  margin-top: 92px;
}

.technology.body__transparent {
  background-color: transparent;
}

.technology .page_wrap,
.technology .page_wrap .header_inner {
  max-width: 100%;
}

.technology footer .container-fluid {
  max-width: 1360px;
}

.c-grid {
  width: 100%;
  max-width: 1366px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: "proxima_novaextrabold", Arial, sans-serif;
}

@media screen and (min-width: 320px) {
  .title {
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

/* end main */

/* NetObjex Technology - main */
.technology .main {
  padding-top: 112px;
  padding-bottom: 120px;
}

@media screen and (min-width: 320px) {
  .technology .main {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 576px) {
  .technology .main {
    padding-top: 82px;
    padding-bottom: 90px;
  }
}

@media screen and (min-width: 768px) {
  .technology .main {
    padding-top: 112px;
    padding-bottom: 120px;
  }
}

.technology .main__wrapper {
  position: relative;
}

.technology .c-grid {
  z-index: 1;
  position: relative;
}

.technology .main__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.technology .main__bg-left,
.technology .main__bg-right {
  position: absolute;
  top: 0;
  height: 100%;
}

.technology .main__bg-img {
  max-width: 100%;
  height: auto;
}

.technology .main__bg-left {
  left: 0;
  width: 47%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .technology .main__bg-left {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .technology .main__bg-left {
    width: 47%;
  }
}

.technology .main__bg-right {
  right: 0;
  width: 53%;
  padding-top: 30px;
}

@media screen and (min-width: 320px) {
  .technology .main__bg-right {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .technology .main__bg-right {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .technology .main__bg-right {
    display: block;
    padding-top: 30px;
  }
}

.technology .main__title,
.technology .main__subtitle {
  margin: 0;
  color: #000;
  text-shadow: 0.5px 0.866px 0 rgba(255, 255, 255, 0.59);
}

.technology .main__title {
  font-family: "proxima_novablack", Arial, sans-serif;
}

@media screen and (min-width: 320px) {
  .technology .main__title {
    font-size: 50px;
  }
}

@media screen and (min-width: 992px) {
  .technology .main__title {
    font-size: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .technology .main__title {
    font-size: 65px;
  }
}

.technology .main__subtitle {
  padding-bottom: 36px;
  font-size: 24px;
}

.technology .main__row {
  display: flex;
}

@media screen and (min-width: 320px) {
  .technology .main__row {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .technology .main__row {
    flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .technology .main__col:nth-child(1) {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .technology .main__col:nth-child(1) {
    width: 40%;
  }
}

.technology .main__col:nth-child(2) {
  width: 60%;
}

@media screen and (min-width: 320px) {
  .technology .main__col:nth-child(2) {
    display: block;
    width: 100%;
    padding-top: 47px;
  }
}

@media screen and (min-width: 768px) {
  .technology .main__col:nth-child(2) {
    display: none;
  }
}

.technology .main__line {
  width: 67px;
  height: 3px;
  margin: 0;
  margin-bottom: 50px;
  border: 0;
  background-color: #0155bb;
}

.technology .main__text {
  line-height: 1.8;
}

@media screen and (min-width: 320px) {
  .technology .main__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .technology .main__text {
    font-size: 18px;
  }
}

.technology .main__text--p {
  padding-bottom: 47px;
}

.technology .main__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* end NetObjex Technology - main */

/* Key Features and  Functionality - key */
.key {
  padding-top: 119px;
  padding-bottom: 104px;
  background-color: #f3f3f3;
}

@media screen and (max-width: 1365px) {
  .key__images-mobile {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1366px) {
  .key__images-mobile {
    display: none;
  }
}

.key__title {
  padding-bottom: 135px;
}

.key__row {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1365px) {
  .key__row {
    display: none;
  }
}
@media screen and (min-width: 1366px) {
  .key__row {
    display: flex;
  }
}

.key__col {
  height: 432px;
}

.key__col-wrapper {
  width: 100%;
  height: 100%;
}

.key__col-0 {
  width: 323px;
}

.key__col-1 {
  width: calc((100% - (323px * 3)) / 2);
}

.key__col-2 {
  width: 323px;
}

.key__col-2 .key__block-header {
  color: #000;
  background-color: #f0cc02;
}

.key__col-3 {
  width: calc((100% - (323px * 3)) / 2);
}

.key__col-4 {
  width: 323px;
}

.key__col-5 {
  width: calc(323px + ((100% - (323px * 3)) / 2));
  height: 632px;
}

.key__col-6 {
  width: calc(100% - (323px + ((100% - (323px * 3)) / 2)));
  height: 632px;
}

.key__block-6 .key__block-block-wrap {
  display: flex;
}

.key__block {
  cursor: pointer;
  position: relative;
  height: 100%;
}

.key__block-front,
.key__block-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.key__block-0 .key__block-back,
.key__block-2 .key__block-back,
.key__block-6 .key__block-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 102px;
}

.key__block-back .key__block-desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 15px;
}

.key__block-back .key__block-desc ul {
  margin: 0;
  padding: 0;
}

.key__block-back .key__block-desc ul li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-bottom: 15px;
}

.key__block-back .key__block-desc ul li i {
  margin-top: 5px;
  width: 13px;
  height: 10px;
  background: url("../images/icon-check.png");
}

.key__block-back .key__block-desc ul li p {
  width: calc(100% - 20px);
}

.key__col-0 .key__block-back .key__block-desc,
.key__col-4 .key__block-back .key__block-desc,
.key__col-6 .key__block-back .key__block-desc,
.key__col-8 .key__block-back .key__block-desc {
  background-color: rgba(41, 111, 196, 0.87);
}
.key__col-2 .key__block-back .key__block-desc {
  background-color: rgba(0, 0, 0, 0.87);
}

.key__block-0 .key__block-front {
  background-color: #3e85db;
}

.key__block-1,
.key__block-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.key__block-1 .key__block-wrap:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.key__block-1 .key__block-wrap p {
  order: 1;
}

.key__block-1 .key__block-wrap img {
  order: 0;
}

.key__block-2 .key__block-front {
  background-color: #000;
}

.key__block-3 {
}

.key__block-4 .key__block-front {
  background-color: #136ad4;
}

.key__block-5 {
  position: relative;
}

.key__block-5 .key__block-text {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.key__block-5 .key__block-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key__block-5 .key__block-img {
  margin-top: 15px;
  margin-left: auto;
}

.key__block-6 {
  width: 323px;
  height: 432px;
}

.key__block-6 .key__block-front {
  background-color: #0e5cbc;
}

.key__block-7 {
  width: calc(100% - (323px * 2));
  height: 432px;
}

.key__block-8 {
  width: 323px;
  height: 432px;
}

.key__block-8 .key__block-front {
  background-color: #003980;
}

.key__block-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 102px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "proxima_novabold", Arial, sans-serif;
}

.key__block-body {
  height: calc(100% - 102px);
  padding-left: 35px;
  padding-right: 35px;
}

.key__block-0 .key__block-body,
.key__block-2 .key__block-body,
.key__block-6 .key__block-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.key__block-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.key__block-text {
  text-transform: uppercase;
  font-family: "proxima_novabold", Arial, sans-serif;
}

.key__block-line-wrap {
  display: flex;
  height: 200px;
}

.key__block-line-wrap .key__block-wrap:nth-child(1) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.key__block-line-wrap .key__block-wrap:nth-child(1) .key__block-text {
  position: absolute;
  top: 20px;
  left: 70px;
  text-align: center;
  transform: rotate(-90deg) translate(-50%, -50%);
}

.key__block-line-wrap .key__block-wrap:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  width: 65%;
}

.key__block-line-wrap .key__block-wrap:nth-child(2) .key__block-text {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.key__block-col-wrap {
  display: flex;
}

.key__block-list {
  padding: 0;
  margin: 0;
}

.key__block-list li {
  display: flex;
  align-items: center;
  height: 60px;
}

.key__block-8 .key__block-list li {
  height: 53px;
}

.key__block-list .key__block-left {
  width: 50px;
}

.key__block-list .key__block-right {
  width: calc(100% - 50px);
}

.key__block-list .key__block-right p {
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed #fff;
  color: #fff;
  text-transform: uppercase;
  font-family: "proxima_novabold", Arial, sans-serif;
}

/* end Key Features and  Functionality - key */

/* Other Features- futures */
@media screen and (min-width: 320px) {
  .futures {
    padding-top: 45px;
  }
}

@media screen and (min-width: 768px) {
  .futures {
    padding-top: 92px;
  }
}

@media screen and (min-width: 320px) {
  .futures__title {
    padding-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .futures__title {
    padding-bottom: 109px;
  }
}

.futures__tabs-header {
  display: flex;
  margin-bottom: 60px;
  border-bottom: 1px solid #a1a1a1;
}

.futures__tabs-link {
  position: relative;
  width: calc(100% / 3);
  height: 40px;
  color: #646466;
  text-align: center;
  font-family: "proxima_novaextrabold", Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}

@media screen and (min-width: 320px) {
  .futures__tabs-link {
    font-size: 13px;
  }
}

@media screen and (min-width: 576px) {
  .futures__tabs-link {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .futures__tabs-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .futures__tabs-link {
    font-size: 20px;
  }
}

.futures__tabs-link.is-active {
  color: #000;
}

.futures__tabs-link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.futures__tabs-link.is-active:after {
  background-color: #f0cc02;
  transition: background-color 0.3s ease-in-out;
}

.futures__tabs-link:hover,
.futures__tabs-link:focus {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.futures__tabs-body {
  display: none;
}

.futures__tabs-body.is-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.futures__tabs-block {
  text-align: center;
}

@media screen and (min-width: 320px) {
  .futures__tabs-block {
    width: 100%;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .futures__tabs-block {
    width: calc(100% / 2);
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 92px;
  }
}

@media screen and (min-width: 992px) {
  .futures__tabs-block {
    width: calc(100% / 3);
  }
}

.futures__tabs-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 91px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  border-radius: 100%;
  border: 1px solid #a1a1a1;
}

.futures__tabs-image {
  display: block;
  max-width: 100%;
}

.futures__tabs-title {
  color: #1b51a9;
  font-size: 24px;
  font-family: "proxima_novabold", Arial, sans-serif;
}

@media screen and (min-width: 320px) {
  .futures__tabs-title {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .futures__tabs-title {
    font-size: 24px;
  }
}

.futures__tabs-text {
  font-size: 16px;
}

/* end Other Features- futures */

/* flip */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
/* end flip */

/*
  end TECHNOLOGY
  ============
*/