/*
  TECHNOLOGY
  ============
*/

/* main */
.technology {
  margin-top: 92px;
}

.technology.body__transparent {
  background-color: transparent;
}

.technology .page_wrap,
.technology .page_wrap .header_inner {
  max-width: 100%;
}

.c-grid {
  width: 100%;
  max-width: 1366px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  margin: 0;
  color: #000;
  text-align: center;
  font-family: "proxima_novaextrabold", Arial, sans-serif;
}
@media screen and (min-width: 320px) {
  .title {
    font-size: 35px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}
/* end main */


/* NetObjex Technology - main */
.technology .main {
  padding-top: 112px;
  padding-bottom: 120px;
}
@media screen and (min-width: 320px) {
  .technology .main {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 576px) {
  .technology .main {
    padding-top: 82px;
    padding-bottom: 90px;
  }
}
@media screen and (min-width: 768px) {
  .technology .main {
    padding-top: 112px;
    padding-bottom: 120px;
  }
}

.technology .main__wrapper {
  position: relative;
}

.technology .c-grid {
  z-index: 1;
  position: relative;
}

.technology .main__bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.technology .main__bg-left,
.technology .main__bg-right {
  position: absolute;
  top: 0;
  height: 100%;
}

.technology .main__bg-img {
  max-width: 100%;
  height: auto;
}

.technology .main__bg-left {
  left: 0;
  width: 47%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .technology .main__bg-left {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .technology .main__bg-left {
    width: 47%;
  }
}

.technology .main__bg-right {
  right: 0;
  width: 53%;
  padding-top: 30px;
}
@media screen and (min-width: 320px) {
  .technology .main__bg-right {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .technology .main__bg-right {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .technology .main__bg-right {
    display: block;
    padding-top: 30px;
  }
}

.technology .main__title,
.technology .main__subtitle {
  margin: 0;
  color: #000;
  text-shadow: 0.5px 0.866px 0 rgba(255, 255, 255, 0.59);
}

.technology .main__title {
  font-family: "proxima_novablack", Arial, sans-serif;
}
@media screen and (min-width: 320px) {
  .technology .main__title {
    font-size: 50px;
  }
}
@media screen and (min-width: 992px) {
  .technology .main__title {
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .technology .main__title {
    font-size: 65px;
  }
}

.technology .main__subtitle {
  padding-bottom: 36px;
  font-size: 24px;
}

.technology .main__row {
  display: flex;
}
@media screen and (min-width: 320px) {
  .technology .main__row {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .technology .main__row {
    flex-direction: row;
  }
}

@media screen and (min-width: 320px) {
  .technology .main__col:nth-child(1) {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .technology .main__col:nth-child(1) {
    width: 40%;
  }
}

.technology .main__col:nth-child(2) {
  width: 60%;
}
@media screen and (min-width: 320px) {
  .technology .main__col:nth-child(2) {
    display: block;
    width: 100%;
    padding-top: 47px;
  }
}
@media screen and (min-width: 768px) {
  .technology .main__col:nth-child(2) {
    display: none;
  }
}

.technology .main__line {
  width: 67px;
  height: 3px;
  margin: 0;
  margin-bottom: 50px;
  border: 0;
  background-color: #0155bb;
}

.technology .main__text {
  line-height: 1.8;
}
@media screen and (min-width: 320px) {
  .technology .main__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .technology .main__text {
    font-size: 18px;
  }
}

.technology .main__text--p {
  padding-bottom: 47px;
}

.technology .main__img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* end NetObjex Technology - main */


/* Key Features and  Functionality - key */
.key {
  padding-top: 119px;
  padding-bottom: 104px;
  background-color: #f3f3f3;
}

.key__title {
  padding-bottom: 135px;
}
/* end Key Features and  Functionality - key */


/* Other Features- futures */
@media screen and (min-width: 320px) {
  .futures {
    padding-top: 45px;
  }
}
@media screen and (min-width: 768px) {
  .futures {
    padding-top: 92px;
  }
}

@media screen and (min-width: 320px) {
  .futures__title {
    padding-bottom: 55px;
  }
}
@media screen and (min-width: 768px) {
  .futures__title {
    padding-bottom: 109px;
  }
}

.futures__tabs-header {
  display: flex;
  margin-bottom: 60px;
  border-bottom: 1px solid #a1a1a1;
}

.futures__tabs-link {
  position: relative;
  width: calc(100% / 3);
  height: 40px;
  color: #646466;
  text-align: center;
  font-family: "proxima_novaextrabold", Arial, sans-serif;
  transition: color 0.3s ease-in-out;
}
@media screen and (min-width: 320px) {
  .futures__tabs-link {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) {
  .futures__tabs-link {
    font-size: 15px;
  }
}
@media screen and (min-width: 768px) {
  .futures__tabs-link {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .futures__tabs-link {
    font-size: 20px;
  }
}

.futures__tabs-link.is-active {
  color: #000;
}
.futures__tabs-link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.futures__tabs-link.is-active:after {
  background-color: #f0cc02;
  transition: background-color 0.3s ease-in-out;
}
.futures__tabs-link:hover,
.futures__tabs-link:focus {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.futures__tabs-body {
  display: none;
}
.futures__tabs-body.is-active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.futures__tabs-block {
  text-align: center;
}
@media screen and (min-width: 320px) {
  .futures__tabs-block {
    width: 100%;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 768px) {
  .futures__tabs-block {
    width: calc(100% / 2);
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 92px;
  }
}
@media screen and (min-width: 992px) {
  .futures__tabs-block {
    width: calc(100% / 3);
  }
}

.futures__tabs-circle  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 91px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  border-radius: 100%;
  border: 1px solid #a1a1a1;
}

.futures__tabs-image  {
  display: block;
  max-width: 100%;
}

.futures__tabs-title {
  color: #1b51a9;
  font-size: 24px;
  font-family: "proxima_novabold", Arial, sans-serif;
}
@media screen and (min-width: 320px) {
  .futures__tabs-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .futures__tabs-title {
    font-size: 24px;
  }
}

.futures__tabs-text {
  font-size: 16px;
}
/* end Other Features- futures */


/*
  end TECHNOLOGY
  ============
*/